<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail Information Page</title>
</head>
<body>
    <h1>User Detail Information (UserId: <span th:text="${id}"></span>)</h1>
    <div>Here is an user detail information</div>
    <div>- name : <span th:text="${name}"></span></div>
    <div>- age : <span th:text="${age}"></span></div>
    <div>- job : <span th:text="${job}"></span></div>
    <div>- specialty : <span th:text="${specialty}"></span></div>
</body>
</html>